/* base.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* Top header nav bar */
.navHeader a{color: black;}
.navHeader a:hover{color:#ff8800}

/* Main nav bar */
.navMain a{text-decoration: none; color: black;}
.navMain a:hover{color:#ff8800}

/* Footer nav bar */
.navFooter a{text-decoration: none; color: black; font-size: small;}
.nav-link.active{background-color: #1f216d; color: white;}

/* floating button and content */
.floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;

    > a.openBtn {
        display: block;
        background-color: #1f216d;
        padding: 3px;
        box-shadow: 2px 2px 8px #777;
        border-radius: 50%;

        &.active {
            transition: background-color 250ms linear;
            background-color: transparent;
            box-shadow: none;
            opacity: 0;
        }
    }
}

.floatingContent {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;

    > a.closeBtn {
        display: none;
        opacity: 0;
        background-color: #1f216d;
        padding: 3px;
        box-shadow: 2px 2px 8px #777;

        &.active {
            display: block;
            opacity: 1;
            transition: opacity 250ms;
        }

    }

}

/* detail.html, list.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* breadcrumb */
.breadcrumb a{color: black;}
.breadcrumb a:hover{color:#ff8800}


/* orderDetails.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* OrderDetails */
.orderDetails a{text-decoration: none; color: black;}
.orderDetails a:hover{color:#ff8800}


/* orderDetails.html, orderPlace.html, userCenterReceiverAddress.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ReceiverIdImage */
.receiverIdImage a{text-decoration: none; color: black;}
.receiverIdImage a:hover{color:#ff8800}


/* cart.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.btn.cartSubmit{width: 150px; background-color: #1f216d; color: white;}


/* orderPlace.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.btn.actionButton{margin: 20px 0px; width: 150px; background-color: lightgrey;}
.btn.submitButton{margin: 20px 0px; width: 150px; background-color: #1f216d; color: white;}
.btn.updateDefaultAddress{margin: 20px 0px; width: 150px; background-color: #1f216d; color: white;}
.btn.submiteNewAddress{margin: 20px 0px; width: 150px; background-color: #1f216d; color: white;}


/* userCenterOrder.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.btn.toPayment{background-color: #1f216d; color: white;}
.btn.toOrderDetails{background-color: #1f216d; color: white;}


/* login.html, register.html */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.loginBtm a{float:right;}
.loginBtm a:hover{color:#ff8800}