{% extends 'baseNoCart.html' %}
{% load static %}

{% block title %}爱优品礼品店-找回密码{% endblock title %}
{% block pageTitle %}找回密码{% endblock pageTitle %}
{% block body %}

<div class="d-flex justify-content-center">
	<div class="row align-items-center" style="padding: 100px;">
        <div class="col">
            <span style="font-size: 28px;">您的注册激活连接已过期，页面会在5秒后自动跳转到“用户注册”界面，谢谢。</span>
        </div>
    </div>
</div>

{% endblock body %}

{% block bottomfiles %}
<script>
    setTimeout(function() {
        window.location.href = "{% url 'user:register' %}";
    }, 5000);  
</script>
{% endblock bottomfiles %}