{% extends 'base.html' %}
{% load static %}

{% block title %} 爱优品礼品店-首页 {% endblock title %}

{% block topfiles %}
{% endblock topfiles %}

{% block body %}
<!-- Product Banner section -->
<section class="container text-center">
	<div class="row justify-content-center align-items-center mt-2">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10">
			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
					{% for productBanner in productBanners %}
					<div class="carousel-item active">
						<img src="{{ productBanner.image.url }}" class="d-block w-100" alt="...">
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</section>

<!-- IndexPromotionBanner-->
<section>


</section>

<!-- IndexCategoryProductBanner -->
<section class="container text-center">
	
    {% for category in categories %}
	<!-- To display text -->
	<nav class="navbar navbar-expand-lg align-items-center p-1">
		<div class="container">
			<div class="col-xl-11 col-lg-10 d-flex align-items-center">
				<div>
					{% with categoryNameVar=category.nameEN %}
					<a class="navbar-brand" style="font-weight: bold;" href="{% url 'product:categoryList' categoryName=categoryNameVar page=1 %}">{{ category.name }}</a>
					{% endwith %}
				</div>
				<button 
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse" 
					data-bs-target="#categorydropdownmenu_{{ category }}"
					aria-expanded="false" 
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="categorydropdownmenu_{{ category }}" style="font-size: medium; text-align: left; padding-left: 20px;">
					<ul class="navbar-nav" style="font-size: 14px; float: left;">

						{% for productBanner in category.titleBanners %}
						<li class="nav-item">
							<span>|</span>
								{% if productBanner.subCategory.nameEN == "Lego" %}
								<a href="{% url 'product:spuList' spuName=productBanner.spu.nameEN page=1 %}" class="link-dark" style="text-decoration: none; padding: 0px 5px;">{{ productBanner.spu.nameEN }}</a>
								{% else %}
								<a href="{% url 'product:subCategoryList' subCategoryName=productBanner.subCategory.nameEN page=1 %}" class="link-dark" style="text-decoration: none; padding: 0px 5px;">{{ productBanner.subCategory.nameEN }}</a>
								{% endif %}
						</li>
						{% endfor %}

					</ul>
				</div>
			</div>
			<div class="col-xl-1 col-lg-2">
				{% with categoryNameVar=category.nameEN %}
				<a href="{% url 'product:categoryList' categoryName=categoryNameVar page=1 %}" class="link-dark" id="" style="font-size: small; float: right; margin: 0px; padding: 0px; text-decoration:none;">查看更多></a>
				{% endwith %}
			</div>
		</div>
	</nav>
	
	<!-- To display pictures -->
	<div class="container">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				
				<div class="col-xl-2 d-none d-xl-block border" style="height: 320px; padding: 0px; position: relative;">
					<img src="{{ category.image.url }}" alt="" style="max-height: 100%; max-width: 100%; height: auto; width: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				</div>

				<div class="col-xl-10"> 
					<div class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 justify-content-center align-items-center">
						
						{% for productBanner in category.imageBanners %}
						<div class="col border d-flex justify-content-center" style="height: 160px;">
							<a class="" href="{% url 'product:detail' productBanner.sku.id  %}" style="text-decoration:none;">
								<div class="container d-flex justify-content-center align-items-center" style="height: 100px; width: 180px; padding-top: 5px;">
									<img src="{{ productBanner.sku.image.url }}" alt width="100px">
								</div>
								<div class="container d-flex justify-content-center align-items-center" style="height: 15px; width: 180px; padding-top: 5px;">
									<div class="link-dark lh-1" style="font-size: small; font-weight: bold;">¥ {{ productBanner.sku.price }}</div>
									<img src="{% static 'images/shoppingCart.png' %}" style="padding-left: 3px; height: 15px;">
								</div>
								<div class="container d-flex justify-content-center align-items-center" style="height: 40px; width: 180px; padding: 5px 0px;">
									<div class="link-dark lh-1" style="font-size: 11px;">{{ productBanner.sku.name }}</div>
								</div>
							</a>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}
</section>

{% endblock body %}