{% extends 'base.html' %}
{% load static %}


{% block title %}爱优品礼品店-登录{% endblock title %}


{% block body %}
<div class="d-flex justify-content-center">
	<div class="row align-items-center" style="padding-top: 200px;">
		<div class="container border rounded">

			<a href="{% url 'product:index' %}">
				<img src="{% static 'images/aukingLogo.png' %}" alt width="300px">
			</a>

			<div class="container loginBtm justify-content-center" style="height: 40px; width: 276px;">
				<div class="row align-items-end">
					<div class="col">
						<div style="font-weight: bolder; font-size: x-large;">用户登录</div>
					</div>
					<div class="col">
						<a href="{% url 'user:register' %}">立即注册</a>
					</div>
				</div>
			</div>

			<div class="container">
				
				<form method="post">
					{% csrf_token %}
					<div class="container" style="height: 65px;">
						<input type="text" class="w-100 border-1 rounded" style="height: 35px; padding-left: 5px;" name="username" value="{{ username }}" placeholder="请输入用户名">
					</div>
					
					<div class="container" style="height: 65px;">
						<input type="password" class="w-100 border-1 rounded" style="height: 35px; padding-left: 5px;" name="pwd" placeholder="请输入密码">
						<div class="mt-1" style="font-size: small; font-style: italic; color: red;">{{ errmsg }}</div>
					</div>
					
					<div class="container loginBtm mb-2" style="height: 40px;">
						<input type="checkbox" name="remember" {{ checked }}>
						<label>记住用户名</label>
						<a href="{% url 'user:passwordReset' %}">忘记密码</a>
					</div>

					<div class="container loginBtm mb-2" style="height: 40px;">
						<input type="submit" name="" value="登录" class="inputSubmit mb-2">
					</div>
					
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock body %}

{% block bottom %}{% endblock bottom %}