{% extends 'base.html' %}
{% load static %}


{% block title %}爱优品礼品店-登录{% endblock title %}


{% block body %}
<div class="d-flex justify-content-center">
	<div class="row align-items-center" style="padding-top: 200px;">
		<div class="container border rounded" style="width: 326px;">
			<a href="{% url 'product:index' %}">
				<img src="{% static 'images/aukingLogo.png' %}" alt width="300px">
			</a>

			<div class="container loginBtm justify-content-center" style="height: 40px; width: 276px;">
				<div class="row align-items-end">
					<div class="col">
						<div style="font-weight: bolder; font-size: x-large;">设置新密码</div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<form method="post">

					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="container" style="height: 40px; padding: 0;">
						<div class="form-group d-flex align-items-center" style="justify-content: space-between;">
							<label for="{{ form.new_password1.id_for_label }}">新密码：</label>
							<div style="display: flex; align-items: center;">
								{{ form.new_password1 }}
								{{ form.new_password1.errors }}
							</div>
						</div>
					</div>
					

					<div class="container" style="padding: 0;">
						<span class="helptext" style="font-size: 12px;">
							<ul>
								<li>您的密码不能与您的其他个人信息太相似。</li>
								<li>您的密码必须至少包含8个字符。</li>
								<li>您的密码不能是常用密码。</li>
								<li>您的密码不能完全是数字。</li>
							</ul>
						</span>
					</div>

					<div class="container" style="height: 40px; padding: 0;">
						<div class="form-group d-flex align-items-center" style="justify-content: space-between;">
							<label for="{{ form.new_password2.id_for_label }}">确认新密码：</label>
							<div style="display: flex; align-items: center;">
								{{ form.new_password2 }}
								{{ form.new_password2.errors }}
							</div>
						</div>
					</div>
					
					<div class="container loginBtm mb-2" style="height: 40px;">
						<input type="submit" name="" value="更新密码" class="inputSubmit mb-2">
					</div>
					
				</form>
			</div>
			

		</div>
	</div>
</div>
{% endblock body %}

{% block bottom %}{% endblock bottom %}